<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Add Area</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <uib-alert ng-if="alert.show" type="{{alert.type}}" close="alert.show = false">{{alert.message}}</uib-alert>
        <div class="panel panel-default">
            <div class="panel-heading">
                Fill area details
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" novalidate name="locationForm">
                            <div class="form-group" show-errors ng-class="{'has-error':locationForm.city_id.$invalid && locationForm.city_id.$dirty}">
                                <label>Choose City</label>
                                <select name="area_city_id" ng-model="location.city" 
                                        class="form-control" required
                                        ng-options="city as city.city_name for city in cities track by city.city_id"
                                        >
                                    <option value="">-- Select --</option>
                                </select>
                                <p class="help-block" ng-if="locationForm.area_city_id.$error.required && locationForm.area_city_id.$dirty">City name is required</p>
                            </div>
                            <div class="form-group" show-errors ng-class="{'has-error':locationForm.city_name.$invalid && locationForm.city_name.$dirty}">
                                <label>Area Name</label>
                                <input class="form-control" name="area_name" ng-model="location.area_name" required>
                                <p class="help-block" ng-if="locationForm.area_name.$error.required && locationForm.area_name.$dirty">Area name is required</p>
                            </div>
                            <button type="submit" class="btn btn-default" ng-click="saveArea()" ng-disabled="locationForm.$invalid">Submit Button</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>