<p class="input-group">
    <input type="text" class="form-control" 
           ng-model="dt" 
           is-open="opened" 
           min="minDate"
           datepicker-options="dateOptions" 
           date-disabled="disabled(date, mode)" 
           uib-datepicker-popup="{{format}}"
           ng-required="true" close-text="Close" />
    <span class="input-group-btn">
        <button class="btn btn-default" ng-click="open($event)" type="button"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</p>