<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Reviews</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                List of reviews
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p><button class="btn btn-primary" ui-sref="dashboard.addreview">Add Review</button></p>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Reviewer Name</th>
                                <th>School</th>
                                <th>Review title</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX"  ng-class-even="'even gradeC'" ng-class-odd="'odd gradeX'" ng-repeat="review in reviews">
                                <td>{{$index+1}}</td>
                                <td>{{review.user_full_name}}</td>
                                <td>{{review.school_name}}</td>
                                <td>{{review.review_title}}</td>
                                <td class="center">
                                    <button type='button' 
                                            ng-if='review.review_status!="1"'
                                            class='btn-default btn-xs' 
                                            ng-click="updateStatus('1', review.review_id)"
                                            >
                                        Inactive
                                    </button>
                                    <button type='button' 
                                            ng-if='review.review_status=="1"'
                                            class='btn-info btn-xs' 
                                            ng-click="updateStatus('0', review.review_id)"
                                            >
                                        Active
                                    </button>
                                    <button type='button' class='btn-primary btn-xs' ui-sref="dashboard.editreview({reviewId:review.review_id})">Edit</button>
                                    <button type='button' class='btn-warning btn-xs' ng-click="deleteReview(review.review_id)">Delete</button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
